@import "../../styles/global.scss";

.nav {
  background-color: #bcfdb9;
  padding: 15px 20px;
  ul {
    @include makeFlex(flex-start, center, row, unset, unset, 20px);
    @include textParams(16px, 800, calibri, #fff);
    list-style: none;
    width: 100%;
    li {
      max-width: 100px;
      width: 100%;
      .navLink {
        text-decoration: none;
        color: white;
        background-color: #0a7c46;
        padding: 10px 20px;
        border-radius: 5px;
        width: 100%;
        @include makeFlex(center, center, unset, unset, unset, unset);
        transition: all 1s;
        &:hover {
           scale: 1.1;
           box-shadow: 0px 0px 10px #000;
        }
    }
      .active {
        background-color: #58fb52;
        color: #ccfdcb;
      }
    }
  }
}
