.pageHeader {
  background: var(--main);
  color: var(--white);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 30px !important;
    font-weight: 200;
    margin-bottom: 10px !important;
    line-height: 32px;
    letter-spacing: 2px !important;
  }

  a {
    color: var(--white);
    letter-spacing: 1px;
    font-weight: 100;
  }
}

.sectionHeader,
.sectionHeaderL {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px !important;

  p {
    max-width: 600px;
  }

  .line {
    position: relative;
    line-height: 24px;
    margin-top: 10px;
    padding-bottom: 18px;

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 50px;
      bottom: 0;
      background: var(--main);
    }
  }
}

.sectionHeader {
  align-items: center;
  text-align: center;

  .line::after {
    left: 50%;
    transform: translate(-50%);
  }
}

.sectionHeaderL {
  align-items: flex-start;
  text-align: left;
  margin-bottom: 60px;

  .line::after {
    left: 0;
    transform: translate(0);
  }
}

.dropdown {
  background-color: var(--white);
  box-shadow: 2px 2px 18px rgb(0 0 0 / 5%);
  border-radius: 27px;
  height: 55px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.9s;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;

    div {
      display: flex;

      i {
        color: var(--main);
        margin-right: 15px;
        font-size: 1.5em;
      }

      h5 {
        line-height: 25px;
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 1px;

        span {
          font-weight: 600;
        }
      }
    }
  }

  p {
    border-top: 1px solid var(--bordergrey);
    transition: visibility 0.4s, height 0.4s;
    padding: 15px 25px;
  }
}

.actived {
  height: 150px;
  transition: all 0.9s;
}

.trainer {
  flex-grow: 1;
  text-align: center;
  border: 1px solid #eee;
  background-color: #fff;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  transition: all 0.4s;

  img {
    border-radius: 50%;
    background: #efefef;
    border: 2px solid #efefef;
    width: 180px;
    transition: all 0.6s;
  }

  p {
    font-size: 17px;
    color: var(--main);
    font-weight: 400;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 17px;
    color: var(--black);
    font-weight: 100;
    letter-spacing: 1px;
    margin: 5px 0;
    line-height: 10px;
  }

  span {
    text-transform: capitalize;
    font-size: 17px;
  }

  &:hover {
    box-shadow: 0 6px 18px rgb(0 0 0 / 12%);
    transform: translateY(-12px);

    img {
      background-color: transparent;
      transform: scale(1.05) translateY(-8px);
    }
  }
}

.courseBox {
  background-color: #fff;
  width: 250px;
  padding: 35px 17px 55px;
  text-align: center;
  box-shadow: 1.5px 1.5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 22px;
  position: relative;
  overflow: hidden;

  .c-b-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    border-top: 1px solid var(--bordergrey);
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
  }

  h2 {
    color: var(--main);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
    letter-spacing: 1px;
  }

  img {
    height: 68px;
  }

  p {
    text-transform: uppercase;
  }

  button {
    display: inline-block;
    padding: 5px 17px;
    border: 1px solid #767676;
    font-weight: 200;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 20px;
    border-radius: 20px;
    transition: all 0.4s;
    background: var(--white);
    cursor: pointer;

    &:hover {
      border: 1px solid var(--main);
      background: var(--main);
      color: var(--white);
    }
  }
}
