.div-box {
  width: 100px;
  height: 100px;
  background-color: rgb(6, 11, 85);
}
button {
  padding: 10px 20px;
  margin: 20px 10px;
}
.div-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
}
