

.post_item {
    border: 2px solid #0F4C81;
    padding: 10px;
    border-radius: 10px;
    user-select: none;

    h1 {
        padding-bottom: 10px;
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }
}

.post_item:hover {
    border: 2px solid #88B04B;
}