@import "../../styles/variables.scss";

.register {
  @include flex(center, center, unset, unset, unset);
  height: 100vh;

  form {
    @include flex(unset, unset, unset, wrap, 20px);
    @include form(unset, 500px, 40px, $main-transp);
    position: relative;

    h1 {
      @include header(center, 400, 28px);
      margin-bottom: 40px;
      flex-basis: 100%;
    }

    .success {
      @include absolute(95px, _, _, _);
      font-size: 12px;
      color: $error-msg;
    }

    div {
      flex-basis: calc(50% - 10px);
      position: relative;

      p {
        @include error();
      }
    }

    input {
      @include input();
    }

    button,
    a {
      @include button();
    }
  }
}
