@import "../../styles/variables.scss";

.register {
  @include flex(center, center, unset, unset, unset);
  min-height: 100vh;

  form {
    @include flex(unset, stretch, unset, wrap, 20px);
    @include form(
      100%,
      500px,
      40px,
      url("https://media.istockphoto.com/id/958693744/vector/abstract-red-light-trail-on-blue-background.jpg?s=612x612&w=0&k=20&c=zaklCkqKZFiZFGcOjasGZLopy_cgp7fyA1yXltxQGDc=")
    );
    background-size: cover;
    position: relative;

    h1 {
      @include header(center, 400, 28px, $main-color);
      margin-bottom: 40px;
      flex-basis: 100%;
    }

    .success {
      @include absolute(95px, _, _, _);
      font-size: 12px;
      color: $error-msg;
    }

    div {
      flex-basis: calc(50% - 10px);
      position: relative;

      p {
        @include error();
      }
    }

    input {
      @include input();
    }

    button,
    a {
      @include button();
    }
  }
  @media (max-width: 850px) {
    form {
      gap: 14px;

      .field {
        flex-basis: 100%;
        width: 100%;

        input {
          padding: 6px;
        }
      }
    }
  }
}
