@import "../../styles/global.scss";

.itemInfo {
  margin: 100px auto;
  max-width: 600px;
  width: 100%;
  @include makeFlex(flex, center, center, column, unset, 80px, unset);
  .imgBox {
    overflow: hidden;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    img {
      width: 150px;
      height: 150px;
      object-fit: contain;
      transition: all 0.9s;
    }
    &:hover {
      width: 100%;
      height: 500px;
      img {
        transform: scale(4);
      }
    }
  }
  .details {
    @include textParams(18px, 700, monospace, #000);
    @include makeFlex(flex, center, flex-start, column, unset, 10px, unset);
    .rate {
      @include makeFlex(
        flex,
        flex-start,
        flex-start,
        unset,
        unset,
        unset,
        10px
      );
      p {
        border-radius: 999px;
        background-color: #7036f2;
        padding: 10px 20px;
        color: #fff;
      }
    }
    p:nth-child(4) {
      border-radius: 999px;
      background-color: #7036f2;
      padding: 10px 20px;
      color: #fff;
    }
    .price {
      color: red;
      font-size: 35px;
    }
    .title {
      font-size: 30px;
    }
    .desc {
      margin: 20px 0;
    }
  }
  .btns {
    width: 100%;
    @include makeFlex(flex, space-between, center, unset, unset, unset, unset);
    color: #7036f2;
    padding: 0 20px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    .icon {
      cursor: pointer;
      transition: all 0.8s;
      &:hover {
        scale: 1.1;
      }
    }
  }
}
