.usersFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: palevioletred;
  padding: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
  p {
    width: 250px;
    height: 20px;
    background-color: plum;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  img {
    background-color: plum;
  }
}
