.nixuya_sibe {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e7e7e7;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #7e7e7e;
  }
}
