@mixin makeFlex($justify, $align, $dir, $wrap, $rgap, $cgap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
  flex-wrap: $wrap;
  row-gap: $rgap;
  column-gap: $cgap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
