.aboutCountry {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 40px;
  width: calc(100% - 340px);

  div {
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 52px;
    font-weight: 200;
  }

  p {
    font-weight: 200;
    font-size: 18px;

    span {
      font-size: 22px;
    }
  }

  a {
    font-weight: 200;
    font-size: 20px;
    color: #fff;
    transition: 0.3s;

    &:hover {
      text-decoration: underline;
      color: #bbb;
    }
  }

  img {
    width: 200px;
    object-fit: contain;
    margin-top: 30px;
  }
}

@media (max-width: 950px) {
  .aboutCountry {
    flex-wrap: wrap;

    .countryFlag {
      width: 90%;
      align-items: center;
    }
  }
}

@media (max-width: 650px) {
  .aboutCountry {
    width: 90%;

    img {
      width: 150px;
    }
  }
}
