* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.container {
  max-width: 1600px;
  margin: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  background: var(--body-bg-color);
  padding: 18px;
}

:root {
  --button-color: #01f0d0;
  --body-bg-color: #f6f7f8;
  --main: #072635;
  --user-selected-color: #d8fcf7;
  --heart-box: #ffe6f1;
  --temp-box: #ffe6e9;
  --resp-box: #e0f3fa;
  --canvas-box: #f4f0fe;
  --font-family: Manrope;
}
