.green {
  background-color: green;
}
.red {
  background-color: pink;
}

li {
  display: flex;
  max-width: 500px;
  background-color: orangered;
  padding: 20px;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
}
