* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1340px;
  margin: auto;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

body {
  background: radial-gradient(rgb(50, 50, 50), rgb(0, 0, 0));
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}
