@import "../../styles/variables.scss";

main {
  position: relative;
  overflow: hidden;
  background: $main-background;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;

  .main {
    @include flex(center, stretch, _, wrap, 40px);
    padding: 80px 20px;
    width: 100%;
  }

  .user-left {
    flex-basis: 40%;
    flex-grow: 1;

    img {
      background: $image-bg;
      padding: 10px;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    h1 {
      @include header(left, 400, 32px, $main-color);
    }

    p {
      @include text(left, 400, 24px);
      margin-top: 10px;
    }

    .user-left-footer {
      @include flex(_, _, _, _, 20px);

      ul {
        color: $main-color;
        margin-top: 20px;
      }

      .left-list {
        flex-basis: 30%;
      }

      .right-list {
        flex-basis: 65%;
      }
    }
  }

  @media (max-width: 620px) {
    .user-left {
      @include flex(_, center, column, _, _);
    }
  }

  .user-right {
    @include flex(_, _, _, wrap, 40px);
    flex-basis: calc(60% - 40px);
    flex-grow: 1;
    min-height: 100%;

    div {
      flex-grow: 1;
      width: 100%;
      flex-basis: calc(50% - 24px);
      background: $main-transp;
      padding: 10px 30px 30px;
      border-radius: 8px;

      h2 {
        @include header(center, 400, 24px);
      }

      ul {
        margin-top: 20px;

        li {
          @include flex(space-between, _, _, _, _);
          margin-top: 4px;
          font-size: 14px;
        }
      }
    }
  }
}
