
.navbar{
    position: sticky;
    top: 0;
    z-index: 99;
    background:rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.logoMain{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translatex(10%);

}
.logo{
    width: 10%;
    display: flex;
}
.logo img{
    width: 30px;
    height: 40px;
    margin-right: 10px;
}
.logoMain ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logoMain ul li a{
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #14171F;

}
.logoMain ul :nth-child(5) a{
    color:#F9995D ;
}