* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

:root {
  color-scheme: light dark;
}

body {
  background-color: light-dark(green, black);
  color: light-dark(black, green);
}

.container {
  max-width: 1280px;
  margin: auto;
}

input[type="submit"] {
  color: inherit;
}
