* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

:root {
  color-scheme: light dark;
}



.container {
  max-width: 1280px;
  margin: auto;
}

.formBody {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

ul {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}
