@import "../../styles/variables.scss";

.home {
  @include flex(center, center, unset, unset, unset);
  background: $main-background;
  position: relative;
  height: 100vh;
  overflow: hidden;

  form {
    @include flex(space-between, unset, column, unset, 30px);
    @include form(70vh, 400px, 20px 40px, $main-transp);

    .form-footer {
      @include flex(space-between, unset, column, unset, 20px);

      div {
        width: 100%;
      }

      #pass-div {
        position: relative;

        i {
          @include absolute(50%, unset, unset, 10px);
          color: $icon;
          transform: translate(0, -50%);
          cursor: pointer;
        }
      }
      input {
        @include input();
      }

      button {
        @include button();
      }

      .signup {
        @include flex(space-between, center, unset, unset, unset);
      }

      p {
        @include text(center, 400, 16px, $purple);
        margin: 20px 0;
      }

      a {
        color: $purple;
        transition: 0.2s;

        &:hover {
          color: $darkcyan;
        }
      }
    }

    h1 {
      @include header();
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
