
.users_div {
    width: 100%;
    margin-bottom: 200px;
    text-align: center;
    position: relative;
}

.list_name {
    padding: 40px;
    color: #0F4C81;
    text-decoration: underline;
}

.users_container {
    width: 90%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    p {
        text-align: left;
        font-weight: bold;
    }

    span {
        font-style: italic;
        font-weight: normal;
    }
}



.userBox {
    border: 3px solid #6667AB;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    user-select: none;
}

.userBox:hover {
    box-shadow: 2px 2px 20px #6667AB;
}


.close_btn {
    border: none;
    background: none;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;

    img {
        height: 20px;
    };
}

.close_btn img:hover {
    filter:drop-shadow(1px 1px 3px red)
}
