:root {
  --primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --max-width: 1340px;
  --bg-color: rgb(40, 40, 40);
  --scrollbar-width: 6px;
  --scrollbar-radius: 8px;
  --scrollbar-color: transparent;
  --scrollbar-border: 3px solid transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

.container {
  max-width: var(--max-width);
  margin: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  background: var(--bg-color);
}

html {
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-color);

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-color);
    border-radius: var(--scrollbar-radius);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: var(--scrollbar-border);
    border-radius: calc(var(--scrollbar-radius) + 2px);

    &:hover {
      background: var(--scrollbar-color);
    }
  }
}
