/* Ընդհանուր զրոյացումններ */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /*պլավնի scroll*/
  box-sizing: border-box;
}
.container {
  max-width: 1340px;
  margin: auto;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/* float-ի զրոյացում */
.clear::after {
  content: "";
  display: block;
  clear: both;
}
/*after, befor-ի զրոյացում */
::after,
::before {
  box-sizing: border-box;
}
/* ************************************** */
body {
  background: linear-gradient(to right, #301414, #863c3c);
}
.active {
  color: seashell;
  text-decoration: underline;
  font-style: italic;
}
