  .boxTow {
    width: 500px;
  }

  .todoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    width: 100%;
    background: #e7e7e7;
    padding: 5px;
  }
  .todoBox :nth-child(3){
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .todoBox p {
    background: #ffffff;
    /* padding: 5px;   */
  }

  svg {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #acacac;
    padding: 0 8px;
  }

 /* p::after {
    content: "";
    display: block;
    width: 0%;
    cursor: pointer;
    transition: all 0.8s;
    height: 2px;
    background-color: blueviolet;
  }
  
  p:hover::after {
    width: 100%;
  } */