@import "./styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  height: 100%;
}

.container {
  max-width: 1340px;
  margin: auto;
  padding: 20px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.div1 {
  @include absolute(60%, _, -20%, _);
  transform: rotate(60deg) translate(-60%, -30%);
  background: $div1-l-g;
}

.div2 {
  @include absolute(-40%, _, 50%, _);
  transform: rotate(60deg) translate(-40%, 40%);
  background: $div2-l-g;
}

.div3 {
  @include absolute(80%, _, _, -20%);
  transform: rotate(60deg) translate(-60%, -50%);
  background: $div3-l-g;
}

.div4 {
  @include absolute(_, -60%, 50%, _);
  transform: rotate(60deg) translate(-40%, 40%);
  background: $div4-l-g;
}

.div1,
.div2,
.div3,
.div4 {
  width: 30%;
  aspect-ratio: 1;
  z-index: 999;
  border-radius: 4px;
}
