@import "../../styles/variables.scss";

nav {
  background: $nav-bg;
  position: sticky;
  top: 0;
  box-shadow: $nav-shadow;
  z-index: 1000;

  .nav {
    @include flex(space-between, _, _, _, _);
    padding: 0 20px;

    img {
      height: 40px;
      margin-right: 20px;
      border-radius: 50%;
      background: $main-color;
      box-shadow: $nav-shadow;
    }

    p {
      color: $main-color;
    }

    i {
      margin-right: 4px;
    }

    ul {
      @include flex(space-between, center, _, _, _);

      button,
      a {
        display: inline-block;
        position: relative;
        background: transparent;
        padding: 20px 32px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        transition: 0.2s;
        color: $main-color;

        &::after {
          @include absolute(_, 0, 0, _);
          content: "";
          height: 2px;
          width: 0;
          background: $cyan;
          transition: 0.3s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
