* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.userBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 20px;
  padding: 20px;
}
